<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
          <h1>
            <img src="pixelcharacter.PNG" alt="Pixel Me!" style="float: left; margin-right: 10px;" height="100"/>
            <a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a>
          </h1>
          
        
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        
        
          <img src="pfp.jpg" alt="My face is supposed to be here...">

      </header>
      <section>

      {{ content }}

      </section>

      
      <footer>
        <p>
          <div style="display: flex; align-items: center ;">
            Email Info:    
            <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24"  
fill="currentColor" viewBox="0 0 24 24" >
<!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
<path d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2m-8.61 10.79c.18.14.4.21.61.21s.43-.07.61-.21l1.55-1.21L18.58 18H5.41l4.42-4.42 1.55 1.21ZM20 6v.51l-8 6.22-8-6.22V6zm0 3.04v7.54l-4.24-4.24zm-11.76 3.3L4 16.58V9.04zM20 18"></path>
</svg>
          </div>
          <a href="mailto:adang2@andrew.cmu.edu">adang2@andrew.cmu.edu</a><br> 
          <a href="mailto:alyssadang0129@gmail.com">alyssadang0129@gmail.com</a>
        </p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
